src/assets
src/components
src/domain
src/js
src/prototype
src/rex-frontend-framework-prototype
src/favicon.png
src/index.html
src/main.js
src/renderer.js
.eslintrc
.babelrc
postcss.config.js
server.js
webpack.config.common.js
webpack.config.dev.js
webpack.prod.js
yarn.lock
build/img
package-lock.json
docker/
