.carousel {
  &.image {
    position: relative;
    max-width: 1256px;
    .title {
      font-size: 24px;
      font-weight: bold;
      color: $black;
      display: inline-block;

    }
    .buttons {
      position: absolute;
      right: 0;
      top: 12px;
      .button {
        color: #00A0F0;
        text-decoration: none;
        &:not(:first-of-type)::before {
          content: "";
          margin-left: 6px;
        }
      }
    }
    .carousel-inner {
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: flex-start;
      margin-top: 24px;
      .carousel-item {
        margin-left: 4px;
        margin-right: 4px;
        .title {
          color: $white;
        }
      }
    }
    .btn.btn-circle {
      background-color: $white;
      color: $brand-primary;
    }
    > .previous, .next {
      position: absolute;
      top: 150px;
    }
    > .previous {
      left: 18px;
      .btn.btn-circle {
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.16);
      }
    }
    > .next {
      right: 18px;
      .btn.btn-circle {
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.16);
      }
    }
    .indicator-group {
      margin-top: 0.75em;
      text-align: center;
      .indicator {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        margin: 2px;
        background-color: $white;
        border: 1px solid $brand-primary;
        &.active {
          background-color: $brand-primary;
        }
      }
    }
  }
  &.carousel-tab {
    .tab {
      display: block;
      margin-top: 16px;
    }
  }
  &.card, &.carousel-tab {
    position: relative;
    max-width: 1200px;
    // overflow: hidden;
    .title {
      font-size: 24px;
      font-weight: bold;
      color: $black;
      display: inline-block;
    }
    .buttons {
      position: absolute;
      right: 0;
      top: 12px;
      .button {
        color: #00A0F0;
        text-decoration: none;
        &:not(:first-of-type)::before {
          content: "";
          margin-left: 6px;
        }
      }
    }
    .carousel-inner {
      overflow: hidden;
      position: relative;
      display: flex;
      justify-content: flex-start;
      margin-top: 24px;
    }
    .carousel-item {
      margin-left: 4px;
      margin-right: 4px;
    }
    .btn.btn-circle {
      background-color: $white;
      color: $brand-primary;
    }
    .previous, .next {
      position: absolute;
      top: 245px;
    }
    .previous {
      left: -12px;
      .btn.btn-circle {
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.16);
      }
    }
    .next {
      right: -16px;
      .btn.btn-circle {
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.16);
      }
    }
    .indicator-group {
      margin-top: 0.75em;
      text-align: center;
      .indicator {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        margin: 2px;
        background-color: $white;
        border: 1px solid $brand-primary;
        &.active {
          background-color: $brand-primary;
        }
      }
    }
  }
  &.marketing {
    position: relative;
    width: 100%;
    max-width: 1208px;
    margin-bottom: 88px;
    overflow: hidden;
    &:before {
      content: "";
      display: block;
      padding-top: 56.3%;
    }

    .introduction {
      position: absolute;
      top: 36%;
      left: 10%;
      z-index: 3;
      color: $white;
      display: inline-block;
      .text {
        font-size: 14px;
      }
      .title {
        line-height: 1;
        font-size: 40px;

        width: 55%;
      }
      .button-area {
        margin-top: 8px;
        color: $white;
        cursor: pointer;
        display: inline-block;
        .more {
          color: inherit;
          text-decoration: none;
        }
        .rex-icon {
          color: inherit;
          font-size: 12px;
          top: 1px;
          left: 4px;
        }
      }

    }
    .carousel-item.active {
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      img {
        width: 100%;
      }
    }
    .carousel-thumbnails {
      position: absolute;
      display: flex;
      overflow: hidden;
      height: 88px;
      &.bottom {
        bottom: 0;
        left: 0;
        .carousel-item {
          border: 1px solid white;
          .caption {
            position: absolute;
            top: 40px;
            left: 16px;
            color: inherit;
            font-weight: lighter;
          }
          &.selected:before {
            content: "";
            position: absolute;
            height: 5px;
            width: 100%;
            background-color: $green-medium-light;
            top: 82px;
            left: 0;
          }
        }
      }
      &.float {
        bottom: 49px;
        left: 104px;
        width: calc(100% - 208px);
        .carousel-item {
          margin-right: 4px;
          &.selected {
            img {
              border: 1px solid $green-medium-light;
            }
          }
        }
      }

      .carousel-item {
        position: relative;
        color: $white;
        cursor: pointer;
        height: inherit;
        img {
          width: 171px;
          height: 88px;
        }
      }
    }
    .carousel-tab {
      position: absolute;
      left: 104px;
      right: 104px;
      bottom: 49px;
      .tab {
        display: block;
        .item {
          color: $white;
          &.active,
          &:active,
          &:focus {
            border-top-color: $green-medium-light;
            color: $green-medium-light;
          }
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
    .previous, .next {
      position: absolute;
      top: 42%;
      .btn.btn-circle {
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.16);
        width: 32px;
        height: 32px;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.48);
        color: $white;
        &:before {
          top: -3px;
        }
      }
    }
    .previous {
      left: 4%;
    }
    .next {
      right: 4%;
      z-index: 3;
    }
  }
}
