
.colors {
  .row {
    margin-bottom: 32px;
  }
}

.hex-title {
  display: none;
  margin-bottom: 0;
  h6 {
    margin-bottom: 0;
  }
}


@media (min-width: 992px) {
  .colors {
    .row {
      margin-bottom: 0;
    }
  }
  .hex-title {
    display: block;
    h6 {
      margin-bottom: 40px;
    }
  }
}
