.homepage {
  .front-page-icon {
    text-align: center;
    div {
      margin-bottom: 16px;
    }
    i {
      font-size: 224px;
    }
  }
  h5 {
    margin-bottom: 16px;
  }
  ul {
    margin-bottom: 40px;
    li {
      margin-bottom: 8px;
    }
  }
  footer {
    img {
      height: 16px;
      margin-top: 4px;
    }
  }
}
