.color-swatches {
  display: inline-block;
  .black {
    background-color: $black;
  }
  .gray-darkest {
    background-color: $gray-darkest;
  }
  .gray-darker {
    background-color: $gray-darker;
  }
  .gray-dark {
    background-color: $gray-dark;
  }
  .gray {
    background-color: $gray;
  }
  .gray-medium {
    background-color: $gray-medium;
  }
  .gray-medium-light {
    background-color: $gray-medium-light;
  }
  .gray-light {
    background-color: $gray-light;
  }
  .gray-lighter {
    background-color: $gray-lighter;
  }
  .gray-lightest {
    background-color: $gray-lightest;
  }
  .white {
    background-color: white;
    border: solid 1px $gray-lighter;
  }
  .brand-primary {
    background-color: $brand-primary;
  }
  .brand-primary-lighten {
    background-color: $brand-primary-lighten;
  }
  .brand-primary-darken {
    background-color: $brand-primary-darken;
  }
  .brand-success {
    background-color: $brand-success;
  }
  .brand-success-lighten {
    background-color: $brand-success-lighten;
  }
  .brand-success-darken {
    background-color: $brand-success-darken;
  }
  .brand-info {
    background-color: $brand-info;
  }
  .brand-info-lighten {
    background-color: $brand-info-lighten;
  }
  .brand-info-darken {
    background-color: $brand-info-darken;
  }
  .brand-warning {
    background-color: $brand-warning;
  }
  .brand-warning-lighten {
    background-color: $brand-warning-lighten;
  }
  .brand-warning-darken {
    background-color: $brand-warning-darken;
  }
  .brand-danger {
    background-color: $brand-danger;
  }
  .brand-danger-lighten {
    background-color: $brand-danger-lighten;
  }
  .brand-danger-darken {
    background-color: $brand-danger-darken;
  }
}


.black-text {
  color: $black;
}
.gray-darkest-text {
  color: $gray-darkest;
}
.gray-darker-text {
  color: $gray-darker;
}
.gray-dark-text {
  color: $gray-dark;
}
.gray-text {
  color: $gray;
}
.gray-medium-text {
  color: $gray-medium;
}
.gray-medium-light-text {
  color: $gray-medium-light;
}
.gray-light-text {
  color: $gray-light;
}
.gray-lighter-text {
  color: $gray-lighter;
}
.gray-lightest-text {
  color: $gray-lightest;
}
.white-text {
  color: white;
}