footer {
  .copyright {
    .copyright-inner {
      border-top: solid 1px $gray-light;
      padding-top: 8px;
      padding-bottom: 16px;
      margin: 0 auto;
      margin-top: 32px;
      max-width: $content-width;
    }
  
  }
  
  @import "pagination";
}