#pagination {
  max-width: $content-width;
  margin: 0 auto 80px auto;
  .col-xs-6 {
    &:first-child {padding-right: 0.5px;}
    &:last-child {padding-left: 1px;}

    .footer-button {
      text-align: center;
      background: $white;
      padding-top: 48px;
      padding-bottom: 36px;
      p {
        color: $gray;
      }
    }
  }
}