.download-link {
	position: relative;
	margin-top: 10px;
	display: inline-block;
	&:hover,
	&:focus {
		h5, span {
			color: $brand-primary-lighten;
		}
	}
	h5, span {
		color: $brand-primary;
	}
	span:before {
		position: absolute;
		font-size: 8px;
		top: -11px;
		left: 8px;
	}
}

.download-component {
	width: 100%;

	div {
		display: inline-block;
		padding: 22.5px 0;
		text-align: right;
		border-top: solid 1px #d1d1d1; // Talk to me before you change this to a variable Alex
		border-bottom: solid 1px #d1d1d1;
		margin-bottom: -1px;
		padding-right: 28px;
		span {
			color: $gray;
		}
	}
	div:first-child {
		text-align: left;
		padding-left: 28px;
	}
	.rex-icon {
		margin-right: 16px;
	}
}