.square-frame,
.square-frame img {
  // max-height: 384px;
  width: auto;
  height: 240px;
}

.square-frame {
  background: $white;
  min-width: 100%;
  // max-height: 384px;
  width: auto;
  height: 240px;
  img {
    margin: 0 auto;
    
  }
}