.working-example {
  max-width: $content-width;
  margin: 0 auto;
  margin-bottom: 40px;
  pre {
    overflow: auto;
    background: $gray-darkest;
  }
  code {
    font-size: 14px;
    background: none;
    .token {
      &.attr-name { color: $gray-lighter; }
      &.prism-tag, &.punctuation { color: $gray-medium-light; }
      &.attr-value { color: $yellow-lighter; }
    }

  }
  div.row {
    > div { // col-md-12 etc
      margin-bottom: 64px;
      pre {
        display: inline-block;
        width: 100%;
        margin-bottom: 0;
      }
    }
    > div:last-child {
      margin-bottom: 0px;
    }
  }
}


.headings-examples {
  div.working-example {
    padding-top: 40px;
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0px !important;
    }
  }
}

.text-examples {
  pre {
    margin: 0 !important;
  }
}

.icons-examples {
  .working-example {
    text-align: center;
    .rex-icon {
      font-size: 32px;
    }
  }
}

.buttons-examples {
  .working-example {
    text-align: center;
  }
}