#header {
  min-width: $min-content-width;
  padding-top: $site-padding-top;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
  .header-inner {
    max-width: $content-width;
    margin: 0 auto;
  }
  #search-dropdown {
    position: fixed;
    max-width: 440px;
  }
  @import "./localization";
}
