#localization {
  display: inline-block;
  text-align: center;
  position: relative;
  min-width: 64px;
  .local-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: none;
    background-color: rgba(0,0,0,0.1);
    z-index: 1000;
    &.visible {
      display: block;
      transition: 0.2s $standard-curve;
    }
  }
  .local-options {
    display: none;
    position: fixed;
    z-index: 1001;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -136px;
    padding: 40px;
    text-align: left;
    @extend .rex-motion;
    @include animation(rex-fadeInDown 0.15s $standard-curve forwards);
    transition: 0.2s $standard-curve;
    &.visible {
      display: block;
    }
  }
}


// for localization buttons in header
#localization,
.repo-link {
  float: right;
}

.local-extended {
  display: inline-block;
  width: 100px;
  height: 48px;
  padding: 0 0 0 11px;
  cursor: pointer;
  // background: white;
  border-radius: 4px;
  transition: 0.2s $standard-curve;
  line-height: 36px;
  font-weight: bold;
   border: solid 1px transparent;
  color: $gray;
  &:hover {
    background: $gray-lighter;
    border: solid 1px $gray-lighter;
  }
  i {
    font-size: 26px;
    top: 11px;
    float: left;
  }
  small {
    float: left;
    padding-left: 4px;
    padding-top: 6px;
    font-size: 12px;
  }
}


