.current-icon {
  text-align: center;
  .rex-icon {
    font-size: 160px;
  }
}
.current-icon-code {
  max-width: 400px;
  margin: 0 auto;
}

.display-icons {
  margin-top: 64px;
  .icon-sample {
    display: inline-block;
    text-align: center;
    margin-bottom: 16px;
  }
  .rex-icon {
    font-size: 32px;
    margin-bottom: 12px;
    cursor: pointer;
  }
}