#menu {
  .menu-list {
    padding-bottom: 40px;
    label,
    span {
      @include noselect();
    }
    label {
      display: block;
      font-size: 18px;
      line-height: $font-size-small;
      color: $gray;
      padding-bottom: 4px;
      line-height: 16px;
      margin-bottom: 4px;
    }
    ul {
      margin-bottom: 0px;
      li.nav-link {
        font-size: $font-size-small;
        margin-bottom: 0px;
        &:hover {
					a {
						color: $white;
					}
        }
        &.disabled {
          a {
            color: $gray-dark;
            pointer-events: none;
          }
        }
        a {
          color: $gray-light;
					text-decoration: none;
					span {
						width: 100%;
						display: inline-block;
					}
        }
        >span {
          display: inline-block;
          width: 100%;
          color: $gray;
          font-weight: bold;
          cursor: pointer;
          @include transition(color 0.2s $standard-curve);
        }
        ul {
          margin-top: 0px;
          padding-bottom: 0px;
          padding-left: 0px;
          padding-top: 6px;
          li {
            font-weight: normal;
            margin: 0;
            a {
              color: $gray !important;
              padding-left: 18px;
              padding-right: 8px;
              display: inline-block;
              &:hover,
              &:focus {
                color: $brand-primary !important;
                cursor: pointer;
                text-decoration: none;
                outline: none;
              }
            }
            &.is-selected {
              a {
                color: $brand-primary !important;
                border-left: solid 2px $brand-primary;
                padding-left: 16px;
                outline: none;
              }
            }
          }
        }
      }
      li.active {
        >span {
          color: $brand-primary;
        }
      }
    }
  }
}
