%section-margin {
  margin-bottom: 64px;
}
%logo-width {
  width: 128px;
}

#sidebar {
  padding: 48px;
  max-width: 288px;

  #logo {
    img {
      @extend %logo-width;
      height: auto;
    }
  }

  .version {
    color: $gray-medium-light;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
	@import "sidebar/menu";
}
